<tr>
  <td class="text-truncate" style="max-width: 200px;">
    <%= link_to category_task_path(task.category, task, length: 60), class: "text-decoration-none" do %>
      <%= task.task_name %>
    <% end %>
  </td>
  <td class="text-truncate" style="max-width: 200px;">
  <span title="<%= task.description %>">
    <%= truncate(task.description, length: 60) %>
  </span>
</td>
  <td>
    <%= task.due_date.present? ? task.due_date.strftime("%d-%b-%Y") : "none" %>
  </td>
  <td>
    <%= task.priority %>
  </td>
  <td>
    <% if task.is_completed? %>
      <span class="badge bg-success">Complete</span>
    <% else %>
      <span class="badge bg-danger">Not Complete</span>
    <% end %>
  </td>
  <td>
    <%= link_to category_task_path(task.category, task), class: "text-decoration-none" do %>
      <i class="bi bi-eye fs-6"></i>
    <% end %>
    <%= link_to edit_category_task_path(task.category, task), class: "text-decoration-none" do %>
      <i class="bi bi-pencil fs-6 text-warning"></i>
    <% end %>
    <%= link_to category_task_path(task.category, task),class: "text-decoration-none", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } do %>
      <i class="bi bi-trash fs-6 text-danger"></i>
    <% end %>
    <%= link_to toggle_complete_category_task_path(task.category, task),
            data: { turbo_method: :patch, turbo_confirm: "Are you sure?" },
            class: "text-decoration-none ms-2" do %>
      <i class="bi <%= task.is_completed? ? 'bi-toggle-on text-success' : 'bi-toggle-off text-muted' %> fs-5"></i>
    <% end %>
  </td>
</tr>