<div class="col">
  <div class="card h-100 d-flex flex-column border border-1 border-primary shadow-sm">
    <div class="card-body flex-grow-1 d-flex flex-column">
      <h3 class="card-title">
        <%= link_to category.category_name, category_path(category), class: "text-decoration-none fw-bold" %>
      </h3>
      <p class="card-text"><%= category.description %></p>

      <% if category.tasks.any? %>
        <div class="table-responsive flex-grow-1">
          <table class="table table-sm align-middle text-nowrap">
            <thead class="table-light">
              <tr>
                <th style="width: 20%;">Task</th>
                <th style="width: 35%;">Description</th>
                <th style="width: 15%;">Due</th>
                <th style="width: 10%;">Priority</th>
                <th style="width: 10%;">Status</th>
                <th style="width: 15%;">Actions</th>
              </tr>
            </thead>
            <tbody>
              <%= render category.tasks.order(:is_completed, :priority, :due_date), category: category %>
            </tbody>
          </table>
        </div>
      <% else %>
        <p class="text-muted mb-0">No tasks yet</p>
      <% end %>
      <div colspan="6" class="text-end pe-3 me-3">
        <%= link_to 'New Task', new_category_task_path(category), class: "btn btn-primary btn-sm" %>
      </div>
    </div>

    <div class="card-footer d-flex justify-content-between">
      <div>
        <%= link_to 'View', category_path(category), class: "btn btn-outline-primary btn-sm" %>
        <%= link_to 'Edit', edit_category_path(category), class: "btn btn-outline-secondary btn-sm" %>
        <%= link_to 'Delete', category_path(category),
                    method: :delete, data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      },
                    class: "btn btn-outline-danger btn-sm" %>
      </div>
    </div>
  </div>
</div>