<table>
  <tr>
    <th>Category</th>
    <th>Details</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td>
      <%= link_to category_path(category) do %>
        <strong><%= category.category_name %></strong><br>
      <% end %>
    </td>
    <td>
      <p><%= category.description %></p>
    </td>
    <td>
      <%= link_to 'ðŸ”', category_path(category) %> |
      <%= link_to 'âœï¸', edit_category_path(category) %> |
      <%= link_to 'ðŸ—‘ï¸', category_path(category), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
    </td>
  <% if category.tasks.any? %>
      <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      <%= render category.tasks, category: category %>
    <% else %>
      <tr>
        <td colspan="6">No task yet for this category</td>
      </tr>
    <% end %>
</table>